.tasks {
    margin-top: 2rem;
}

.tasks li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: .625rem;

    border-radius: .3rem;

    transition: .5s;
}

.tasks li:hover {
    background: #d0d5d6;
    opacity: .5;
}

.tasks li .edit {
    margin-right: 1rem;
    color: #51C5DE;
    cursor: pointer;
}

.tasks li .delete {
    margin-right: 1rem;
    color: #F04C64;
    cursor: pointer;
}

.tasks li span {
    display: flex;
    align-items: center;
}